[run]
branch = True
source = .
omit =
    */migrations/*
    */tests/*
    */__init__*
    */immovenv/*
    */htmlcov/*
    */static/*
    */main/pdf/*
    */main/static/*
    */main/static/js/customComboBox.js*
    */main/platypus_pdf_template.py *
    */apps.py
    */wsgi.py
    */manage.py


[report]
fail_under = 100
precision = 2
sort = Cover
