[run]
branch = True
source = .
omit =
    */migrations/*
    */tests/*
    */__init__*
    */immovenv/*
    */htmlcov/*
    */static/*
    */main/pdf/*


[report]
fail_under = 100
precision = 2
sort = Cover
