<!-- Ajout personne modal -->
<div class="modal fade" id="ajoutPersonneModal" tabindex="-1" role="dialog" aria-labelledby="submissionScoresLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="submissionScoresLabel">Ajout Personne</h4>
            </div>
            <div class="modal-body">
                <form  method="post"
                       enctype="multipart/form-data"
                       action="{% url 'personne-create-locataire' %}">
                    {% csrf_token %}
                    <input type="hidden" value="{{ location.id}}" name="location_id_pers"/>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="nom" class="control-label">Nom</label>
                            <input class="form-control" id="nom" placeholder="Nom" name="nom" style="text-transform:uppercase" required>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="prenom"  class="control-label">Prénom</label>
                            <input class="form-control" id="prenom" placeholder="Prenom" name="prenom" style="text-transform:uppercase" required>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                    <br>
                    <div class="modal-footer">
                        <input type="submit" value="Enregistrer" class="btn btn-primary"/>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>