<!-- Ajout personne modal -->
<div class="modal fade" id="ajoutPersonneModal" tabindex="-1" role="dialog" aria-labelledby="submissionScoresLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="submissionScoresLabel">Ajout personne</h4>
            </div>
            <div class="modal-body">
                <form  method="post"
                       enctype="multipart/form-data"
                       action="{% url 'personne-create-locataire' %}"
                       id="form_ajouter_personne">
                    {% csrf_token %}
                    <input type="hidden" value="{{ location.id}}" name="location_id_pers"/>
                    <input type="hidden" value="{{ action }}" name="action_current"/>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="nom" class="control-label">Nom</label>
                            <input class="form-control"
                                   id="txt_nom_new_personne"
                                   placeholder="Nom"
                                   name="nom"
                                   style="text-transform:uppercase"
                                   required>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="prenom" class="control-label">Prénom</label>
                            <input class="form-control" id="txt_prenom_new_personne" placeholder="Prenom" name="prenom" style="text-transform:uppercase" required>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="prenom"  class="control-label">Prénom2</label>
                            <input class="form-control" id="txt_prenom2_new_personne" placeholder="Prenom2" name="prenom2"
                                   style="text-transform:uppercase">
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                    <br>
                    <div id="txt_msg_error_new_personne"
                          class="erreur_formulaire"
                          style="visibility:hidden;display:none;">
                        <p>Une personne existe déjà avec ces nom/prénom/prénoms2</p>

                    </div>
                    <div class="modal-footer">
                        <input type="button"
                               value="Enregistrer"
                               class="btn btn-primary"
                               title="Pour enregistrer une nouvelle personne"
                               id="btn_ajouter_personne"  />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>