  <form method="post" action="{% url 'personne-update' %}">
    {% csrf_token %}
    <input type="hidden"
           id="previous"
           name="previous"
           value="{{request.META.HTTP_REFERER }}">
    <input type="hidden" value="{{ personne.id }}" name="personne_id">
    <div class="row">
      <div class="col-md-4">
          <label>Nom</label>
          <input class="form-control required" name="nom" id="txt_nom" value="{{ personne.nom| default_if_none:'' }}">
          <font class="erreur_formulaire">{{ form.nom.errors|striptags }}</font>
      </div>
      <div class="col-md-4">
          <label>Prénom</label>
          <input class="form-control required" name="prenom" id="txt_prenom" value="{{ personne.prenom| default_if_none:'' }}">
          <font class="erreur_formulaire">{{ form.prenom.errors|striptags }}</font>
      </div>
      <div class="col-md-4">
          <label>Prénom2</label>
          <input class="form-control" name="prenom2" id="txt_prenom2" value="{{ personne.prenom2| default_if_none:'' }}">
       </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
          <label>Email</label>
          <input class="form-control" name="email" value="{{ personne.email| default_if_none:'' }}" >
          <font class="erreur_formulaire">{{ form.email.errors|striptags }}</font>
      </div>
      <div class="col-md-6">
        {% if personne.id %}
            <label>Type personne</label><br>
            {{ personne.type }}
        {% endif %}
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
          <label>Gsm</label>
          <input class="form-control"
                 name="gsm"
                 value="{{ personne.gsm| default_if_none:'' }}" >
      </div>
      <div class="col-md-6">
          <label>Téléphone</label>
          <input class="form-control" name="telephone" value="{{ personne.telephone| default_if_none:'' }}" >
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-5">
          <label>Fonction</label>
          <select name="profession" class="form-control" id="slt_fonction">
              <option value="-">-</option>
              {% for f in fonctions %}
                  <option value="{{f.id}}" {%if f.id == personne.fonction.id%}selected{%endif%}>{{f}}</option>
              {%endfor %}
          </select>

      </div>
      <div class="col-md-1">
          <label>&nbsp;</label>
          <br>
          <button type="button"
                  id="bt_fonction_other"
                  class="btn btn-link"
                  title="Ajouter une nouvelle fonction"
                  data-toggle="modal" data-target="#pnl_create_fonction_personne">
              <span class="fa fa-plus-square-o fa-2x" aria-hidden="true"></span>
          </button>
      </div>
      <div class="col-md-5">
        <label>Société</label>
        <select name="societe" class="form-control" id="slt_societes">
          <option value="-">-</option>
          {% for s in societes %}
            <option value="{{s.id}}" {%if s.id == personne.societe.id%}selected{%endif%}>{{s}}</option>
          {%endfor %}
        </select>
        <span style="color:red">{{ form.societe.errors }}</span>
      </div>
      <div class="col-md-1">
          <label>&nbsp;</label>
          <br>
          <input type="checkbox" id="btn_ajout_societe" style="visibility:hidden;display:none;">
          <button type="button"
                  class="btn btn-link"
                  id="bt_societe_other"
                  title="Ajouter une nouvelle societe"
                  data-toggle="modal" data-target="#pnl_create_societe_personne">
              <i class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i>
          </button>
      </div>
    </div>
    <div id="pnl_nouvelle_societe" class="new" style="visibility:hidden;display:none;margin:15px;">

      <div class="row" style="margin:15px;">
          <div class="col-md-6">
              <label>Nom nouvelle societé</label>
              <input class="form-control required" type="text" value="" name="nom_nouvelle_societe" maxlength="100" id="txt_nom_nouvelle_societe"/>
          </div>
          <div class="col-md-6">
              <label>Description nouvelle societé</label>
              <textarea class="form-control" type="text" value="" name="description_nouvelle_societe" id="txt_description_nouvelle_societe"></textarea>
          </div>
      </div>
      <br>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <label>Num registre national</label>
        <input class="form-control" name="num_identite"
               value="{{ personne.num_identite| default_if_none:'' }}" ><font style="color:red">{{ form.num_identite.errors }}</font>
      </div>
      <div class="col-md-6">
        <label>Num compte banque</label>
        <input class="form-control" name="num_compte_banque"
               value="{{ personne.num_compte_banque| default_if_none:'' }}" >
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2">
        <label>Date naissance</label>
        <input class="form-control" name="date_naissance" id="txt_date_naissance"
               value="{{ personne.date_naissance|date:"j/m/Y"| default_if_none:'' }}">
        <font style="color:red">{{ form.date_naissance.errors }}</font>
      </div>
      <div class="col-md-4">
        <label>Lieu naissance</label>
        <input class="form-control" name="lieu_naissance" value="{{ personne.lieu_naissance| default_if_none:'' }}" >
      </div>
      <div class="col-md-4">
        <label>Pays naissance</label>
          <select class="form-control" name="pays_naissance" id="slt_pays">
              <option>-</option>
              {% for p in pays %}
                  <option value="{{ p.id }}" {% if p.id == personne.pays_naissance.id %}selected{% endif %}>{{ p.nom }}</option>
              {% endfor %}
          </select>
      </div>
      <div class="col-md-2">
          <br>
          <button type="button"
                  id="bt_pays_other"
                  class="btn btn-link"
                  title="Ajouter un nouveau pays"
                  data-toggle="modal" data-target="#pnl_create_pays">
              <span class="fa fa-plus-square-o fa-2x" aria-hidden="true" ></span>
          </button>
      </div>
    </div>
    <br>
      <button type="submit" class="btn btn-primary pull-right" title="Sauvegarder">
          <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"> Enregistrer</span>
      </button>

  </form>


  {% include "personne/pays_create.html" %}
  {% include "fonction/fonction_create_personne.html" %}
  {% include "societe/societe_create_personne.html" %}