{% extends "layout.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block breadcrumb %}
    {% if contrat.batiment %}
        <li><a href="{% url 'batiment' contrat.batiment.id  %}">Batiment</a></a></li>
    {% endif %}
  <li class="active">Contrat gestion</li>
{% endblock %}

{% block content %}
    <form action="{% url 'gestion-create-update' contrat.id %}"
            method="post" id="form_contrat_gestion_update">
    {% include 'gestion/form.html' %}
    </form>
{% endblock %}
{% include 'gestion/script.html' %}
