{% extends "layout.html" %}
{% load staticfiles bootstrap3 %}
{% block breadcrumb %}
{% if locataire.contrat_location %}
    {% if locataire.contrat_location.batiment %}
    <li><a href="{% url 'batiment' locataire.contrat_location.batiment.id  %}">Batiment</a></a></li>
    {% endif %}
    <li><a href="{% url 'location-prepare-update-all' locataire.contrat_location.id  %}">Location</a></li>
{% endif %}
<li class="active">Locataire</li>

{% endblock %}
{% block content %}
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#info_locataire">Info locataire</a></li>
    {% if locataire.contrat_location and locataire.personne%}
        <li><a data-toggle="tab" href="#info_contact">Info contact</a></li>
    {% endif %}
</ul>

<div class="tab-content">
    <div id="info_locataire" class="tab-pane fade in active">
<div class="panel panel-default">
  <div class="panel-body">
      <form method="post"
            {% if locataire.id  %}
                action="{% url 'locataire-update'  locataire.id %}"
            {% else %}
                action="{% url 'locataire-add' %}"
            {% endif %}
              >
          {% csrf_token %}
          {% bootstrap_form_errors form %}
          <input type="hidden" id="previous" name="previous" value="{{ request.META.HTTP_REFERER }}"/>
          <input type="hidden" value="{{ action }}" name="action"/>
          <input type="hidden" value="{{ locataire.id | default_if_none:'' }}" name="locataire_id"/>
          <input type="hidden" value="{{ locataire.contrat_location.id }}" name="location_id"/>
          {% if form.contrat_location %}
            {% bootstrap_field form.contrat_location %}
          {% endif %}
          <div class="row">
              <div class="col-md-4">
                  {% bootstrap_field form.personne %}
              </div>
              <div class="col-md-4">
                  {% bootstrap_field form.civilite %}
              </div>
              <div class="col-md-2">
                  {% bootstrap_field form.principal %}
              </div>
              <div class="col-md-1">
                  {% bootstrap_field form.actif %}
              </div>
              <div class="col-md-1">
                  {% if not locataire.id %}
                      <label class="invisible">&nbsp;</label>
                      <button type="button"
                              id="btn_locataire_ajout_personne"
                              class="btn btn-warning invisible"
                              data-toggle="modal"
                              data-target="#ajoutPersonneModal"><span class="glyphicon glyphicon-plus"
                                                                      aria-hidden="true"></span></button>
                  {% endif %}
              </div>
          </div>
          <br>

          <div class="row">
              <div class="col-md-8">
                  {% bootstrap_field form.infos_complement %}
              </div>
              <div class="col-md-3">
              </div>
          </div>
          <br>

          <div class="row">
              <div class="col-md-3">
                  {% bootstrap_field form.societe %}
              </div>
              <div class="col-md-1">
                  <br>
                  <button type="button"
                          class="btn btn-link"
                          id="bt_societe_other"
                          title="Ajouter une nouvelle societe"
                          data-toggle="modal" data-target="#pnl_create_societe_locataire">
                      <i class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i>
                  </button>
              </div>
              <div class="col-md-4">
                  {% bootstrap_field form.tva %}
              </div>
              <div class="col-md-3">
                  {% bootstrap_field form.profession %}
              </div>

              <div class="col-md-1">
                  <label>&nbsp;</label>
                  <br>
                  <button type="button"
                          id="bt_locataire_fonction_other"
                          class="btn btn-link"
                          title="Ajouter une nouvelle fonction"
                          data-toggle="modal" data-target="#pnl_create_fonction_locataire">
                      <span class="fa fa-plus-square-o fa-2x" aria-hidden="true"></span>
                  </button>
              </div>
          </div>

          <button type="submit" class="btn btn-primary pull-right" title="Sauvegarder">
              <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"> {% if locataire.id %}Enregistrer{% else %}Ajouter{% endif %}</span>
          </button>
          {% include "fonction/fonction_create_locataire.html" %}
      </form>

</div>
</div>
    </div>
    <div id="info_contact" class="tab-pane fade ">
      {% include 'personne/personne_sub_form.html' %}
    </div>
</div>

{% include "personne/personne_create.html" %}
{% include "societe/societe_create_locataire.html" %}
{% endblock %}
