{% extends "layout.html" %}
{% load staticfiles %}
{% block breadcrumb %}
{% endblock %}
{% block content %}

    <div class="panel panel-default">
        <div class="panel-body">
            <br>
            {% if contrat_location.id %}
            <form method="post"
                  action="{% url 'lettre_indexation' contrat_location.id %}">
                {% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-header">{{ modele.reference }}<br><br></div>
                    <div class="panel-body">

                        <label>Pour le local suivant:</label><br>
                        {{ contrat_location.batiment.adresse_rue  }}<br>
                        {{ contrat_location.batiment.adresse_localite  }}<br><br>
                        <label>Pour la location suivante:</label><br>
                        du cau {{ contrat_location.date_fin }}<br><br>
                        <label>Locataire(s):</label><br>
                        {% for locataire in contrat_location.locataires %}
                            {{ locataire.personne }}<br>
                        {% endfor %}
                        <label>Format</label>
                        <br>
                        <select name="format_fichier">
                            <option value="pdf">PDF</option>
                            <option value="docx">Word</option>
                        </select><br>
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal"
                                id="bt_cancel_create_assurance">Annuler</button>
                        <input type="submit" class="btn btn-primary pull-right" value="Ok"/>
                    </div>
                </div>

            </form>
          {% endif %}
        </div>
    </div>
{% endblock %}
