{% extends "layout.html" %}
{% load staticfiles %}
{% load order %}
{% block breadcrumb %}
  <li class="active">Liste des contrats de gestion</li>
{% endblock %}
{% block content %}

  <table class="table table-striped table-hover">
      <thead>
          <th>Batiment</th>
          <th>Gestionnaire</td>
  {% for contrat in object_list %}
      <tr>
          <td>
              <a href="{% url 'contrat_gestion_detail' contrat.pk%}">{{ contrat.batiment}} </a>
          </td>
          <td>
               <a href="{% url 'contrat_gestion_detail' contrat.pk%}"> {{contrat.gestionnaire}}</a>
          </td>
          <td>
          </td>
      </tr>
  {% endfor%}
  </table>



{% endblock %}
