<html>
    <head>
        <title>Liste complète</title>
        <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />
    </head>
    <body class=" dashboard">
        <h1>Liste complète</h1>
        <div id="container">

        <p>
            <table border="1">
                <tr><th>Adresse</th><th>Location</th><th>Proprio</th></tr>
            {% for batiment in batiments %}
                <tr>
                    <td>
                        {{ batiment.adresse_rue }}
                        <br/>
                        {{ batiment.adresse_localite }}
                    </td>
                    <td>


                             {% for contratLocation in batiment.contrats_location %}
                             <table>
                            <tr><th colspan="2">Contrat location</th></tr>
                            <tr><td>

                                        du {{ contratLocation.date_debut }} au {{ contratLocation.date_fin }}
                                    </td>
                                    </tr><tr>
                                   <td>

                                   <b>Financements :</b>

                                   <table>
                                   <tr><th>Locataires</th></tr>
                                   {% for locataire in contratLocation.financement_location.locataires %}

                                   <tr><td>{{ locataire}}</td></tr>
                                   {% endfor%}
                                   </table>
                                   </td>


                            </tr>
                        </table>
                            {% endfor%}

                    </td>
                    <td>
                    {% for proprietaire in batiment.proprietaires %}

                    {{ proprietaire }}
                      {% endfor%}
                    </td>
                </tr>
            {% endfor%}
            </table>

        </p>
        </div>
    </body>
</html>
