body {
  padding-top: 70px;

}
.A_VERIFIER {
  background-color: #FF9966;
}
.IMPAYE {
  background-color: #CC3366;
}
.EN_RETARD {
  background-color: #66CCFF;
}
.PAYE {
  background-color: transparent;
}
.erreur_formulaire{
  color:red;
}

#container_main{
/*margin-left:15px;
margin-right:15px;*/
width:75%;;
}

input:required {
  background-color: #c4e3f3;
}

