{% extends "layout.html" %}
{% load bootstrap3 %}

{% block breadcrumb %}
    {%  if previous == 'liste' %}
      <li><a href="{% url 'suivis' %}">Les suivis</a></li>
      <li class="active">Suivi</li>
    {% endif %}
    {%  if previous == 'location' %}
        <li class="active">Location</li>
    {% endif %}
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'update_suivi' %}">
        {% csrf_token %}
        <input type="hidden" id="previous" name="previous" value="{{ previous }}"/>
        <input type="hidden" value="{{ date_debut|date:"j/m/Y"}}" name="date_debut"/>
        <input type="hidden" value="{{ date_fin|date:"j/m/Y"}}" name="date_fin"/>
        <input type="hidden" value="{{ etat }}" name="etat"/>
        <input type="hidden" value="{{ suivi.id }}" name="id"/>
        {% bootstrap_form form %}
        {% bootstrap_form_errors form %}
        <br>
        <button type="submit" class="btn btn-primary pull-right" title="Enregistrer les infos sur le suivi">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"> Enregistrer</span>
        </button>
    </form>
{% endblock %}

{% block script %}
    <script>
        $("#txt_loyer_percu").blur(function(event) {
            var score = $(this).val().replace(',', '.');
            var regex = /^\d+(\.\d{0,2})?$/;
            $(this).val(score);
            score = $(this).val()
            if(!regex.test(score)){
                $(this).val('');
            }
        });
        $("#id_date_paiement_reel").datepicker({
            autoclose: true,
            orientation: "bottom auto",
            language: "fr",
            showOtherMonths: false
        });
        $("#id_date_paiement").datepicker({
            autoclose: true,
            orientation: "bottom auto",
            language: "fr",
            showOtherMonths: false
        });
        $("#id_date_paiement_reel").dblclick(function(event) {
            $("#id_date_paiement_reel" ).datepicker({dateFormat:"dd/mm/yy"}).datepicker("setDate",new Date());
        });

    </script>
{% endblock %}