<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    title="Fermer sans rien ajouter"
                    id="bt_pnl_create_fonction"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="uploadScroresLabel">
                <label id="lbl_description_label">Nouvelle fonction</label>
            </h4>
        </div>
        <div class="modal-body" id="pnl_create_fonction_body">
            <form method="get"
                  action="{% url 'fonction_create' %}">
                {% csrf_token %}

                <label>Nom</label>
                <br>
                <input type="text"
                       class="form-control required"
                       id="txt_nom_fonction_other"
                       name="nom"
                       maxlength="100">
                <br>
                <br>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                            id="bt_cancel_create_fonction">Annuler</button>

                    <input type="submit" class="btn btn-primary" value="Ok"
                           data-dismiss="modal"
                           id="bt_save_new_fonction_2"/>

                </div>
            </form>
        </div>
    </div>
</div>