{% extends "layout.html" %}
{% load staticfiles %}
{% load order %}
{% block breadcrumb %}
  <li class="active">Liste des contrats de location</li>
{% endblock %}
{% block content %}
<br>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
        <div class="col-md-8">
            <!-- Filtre -->
            <div class="panel panel-info">
                <div class="panel-heading">Filtre</div>
                <div class="panel-body">
                    <form method="get"
                          action="{% url 'location_search'%}" >
                        <div class="row">
                            <div class="col-md-4">
                                <label>Date fin location supérieure au </label>
                                <input id="txt_date_fin_filtre_location"
                                       name="date_fin_filtre_location"
                                       class="form-control"
                                       value="{{date_fin_filtre_location|date:"j/m/Y"}}">
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-default pull-right" type="submit"
                                   title="Pour ajouter un contrat de location">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- fin Filtre -->
        </div>
        <div class="col-md-1">
            </div>
        <div class="col-md-3">
            <a class="btn btn-default pull-right" href="{% url 'contrat_location_form' %}"
               title="Pour ajouter un contrat de location">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"> Ajout contrat location</span>
            </a>
        </div>

    </div>
    <table class="table table-hover">
        <thead>
            <th>Batiment</th>
            <th>Loyer (de base)</th>
            <th title="Dernier versement dont l'état est payé et pour lequel on a encodé une date de paiement">
                Dernier versement payé
            </th>
            <th>Locataires</th>
            <th>Date fin</th>
            <th>Date renonciation</th>
            <th></th>
        </thead>
        <tbody>
            {% for contrat in locations %}
                <tr>
                    <td>
                        <a href="{% url 'location-prepare-update-all' contrat.pk %}" title="Pour modifier un contrat de location">
                            {{ contrat.batiment }}
                        </a>
                    </td>
                    <td>{{ contrat.loyer_base }}</td>
                    <td>{{ contrat.dernier_versement.date_paiement_reel |date:"j/m/Y" }}</td>
                    <td>
                        <table>
                            {% if contrat.batiment.locataires_actuels2 %}
                                {% for p in contrat.batiment.locataires_actuels2 %}
                                    <tr><td><a href="{% url 'locataire-update' p.id %}">{{  p.personne.nom }} {{  p.personne.prenom }} </a></td></tr>
                                {% endfor%}
                            {%else%}
                                {% for p in contrat.batiment.dernier_locataires %}
                                    <tr style="color:red"><td><a href="{% url 'locataire-update' p.id %}" style="color:red">{{  p.personne.nom }} {{  p.personne.prenom }} </a></td></tr>
                                {% endfor%}
                            {%endif%}
                        </table>
                    </td>
                    <td>{{ contrat.date_fin|date:"j/m/Y" }}</td>
                    <td>{% if contrat.renonciation%}{{ contrat.renonciation|date:"j/m/Y" }}{% endif %}</td>
                    <td>
                      <a href="{% url 'location-delete' contrat.pk%}"
                         title="Pour supprimer un contrat de location"
                         onclick="return confirm('Sûr de vouloir supprimer?')">
                          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      </a>
                    </td>
                </tr>
            {% endfor%}
        </tbody>
    </table>

  </div>
</div>
{% endblock %}
