{% extends "layout.html" %}
{% block breadcrumb %}
  <li class="active">Liste des sociétés</li>
{% endblock %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-body">
      <br> <br>
      <table class="table table-hover"
             id="tbl_societes">
          <thead>
              <tr>
                  <th>Nom</th>
                  <th>Description</th>
                  <th>Rue</th>
                  <th>Numero</th>
                  <th>Boite</th>
                  <th>Lieu-dit</th>
                  <th>Localité</th>
                  <th>Type</th>
              </tr>
          </thead>
          <tbody>
      {% for societe in societes %}
          <tr>
              <td>
                  <a href="{% url 'societe_edit_from_list' societe.id %}">{{ societe.nom }}</a>
              </td>
              <td>
                  {{ societe.description| default_if_none:'' }}
              </td>
              <td>
                  {{ societe.rue| default_if_none:'' }}
              </td>
              <td>{{ societe.numero| default_if_none:'' }}</td>
              <td>{{ societe.boite| default_if_none:'' }}</td>
              <td>{{ societe.lieu_dit| default_if_none:'' }}</td>
              <td>{{ societe.localite| default_if_none:'' }}</td>
              <td>{{ societe.type| default_if_none:'' }}</td>

          </tr>
      {% endfor%}
          </tbody>
      </table>

    </div>
</div>

{% endblock %}
