{% extends "layout.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="col-md-8">

    </div>
    <div class="col-md-4">
        <a href="{% url 'batiment-create' %}"
           title="Pour créer un nouveau batiment"
           class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
    </div>
</div>
<br>
<div class="panel panel-default">
  <div class="panel-body">
    <br>
        <table class="table table-hover"
               id="tbl_data_batiments">
            <thead>
                <tr>
                    <th>Bien</th>
                    <th>Localité</th>
                    <th>Proprio(s)s</th>
                    <th class="no-sort">Locataires</th>
                    <th class="no-sort">Location</th>
                    <th class="no-sort"></th>
                </tr>
            </thead>
            <tbody>
        {% for batiment in batiments %}
            <tr>
                <td>
                  <a href="{% url 'batiment' batiment.pk%}" title="Pour modifier un batiment">{{ batiment.adresse_rue | default_if_none:''}}</a>
                </td>
                <td><a href="{% url 'batiment' batiment.pk%}" title="Pour modifier un batiment">{{ batiment.adresse_localite | default_if_none:''}}</a></td>
                <td>
                    <table style="margin-top:-10px;">
                    {% for proprietaire in batiment.proprietaires %}
                        <tr style="background-color:transparent;"><td><a href="{% url 'proprietaire' proprietaire.proprietaire.id %}">{{ proprietaire.proprietaire }}</a></td></tr>
                    {% endfor%}
                    </table>

                </td>
                <!--  <a href="{% url 'proprietaire-create-batiment' batiment.pk %}" title="Pour ajouter un propriétaire"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>-->
                <td>
                  <table style="margin-top:-10px;">
                    {% for p in batiment.locataires_actuels2 %}
                    <tr style="background-color:transparent;">
                        <td><a href="{% url 'locataire-update' p.id %}">{{  p.personne.nom }} {{  p.personne.prenom }} </a></td>
                    </tr>
                  {% endfor%}
                  </table>
                </td>
                <td>
                    <span style="visibility:hidden;display:none;">
                      {% if batiment.location_actuelle%}
                        {{ batiment.location_actuelle.date_debut|date:"j/m/Y" }} - {{ batiment.location_actuelle.date_fin|date:"j/m/Y" }}
                      {%endif%}
                    </span>
                    {% if batiment.location_actuelle%}
                        <table style="margin-top:-10px;">
                            <tr style="background-color:transparent;"><td>Loyer :&nbsp;&nbsp;</td><td>{{batiment.location_actuelle.loyer_base}}</td></tr>
                            <tr style="background-color:transparent;"><td>Fin : </td><td>{{batiment.location_actuelle.date_fin|date:"j/m/Y"}}</td></tr>
                        </table>
                    {%endif%}
                </td>
                </td>
                <td>
                    <a href="{% url 'batiment-delete' batiment.pk%}"
                       title="Pour supprimer un batiment"
                       onclick="return confirm('Sûr de vouloir supprimer?  Toutes les informations liées à ce local seront supprimées également (propriétaires, location,...)')">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        {% endfor%}
             </tbody>
        </table>

      </div>
            </div>
{% endblock %}
