<div class="panel panel-default">
    <div class="panel-heading">Mes locaux</div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Bien</th>
                    <th>Locataire(s)</th>
                    <th>Location</th>
                    <th>Gestion</th>
                </tr>
            </thead>
            {% for batiment in batiments %}
                <tr>
                    <td>
                        <a href="{% url 'batiment' batiment.pk%}"
                           title="Pour modifier un batiment">{{batiment  | default_if_none:''}}</a>
                    </td>
                    <td>
                        <table >
                            {% for p in batiment.locataires_actuels2 %}
                                <tr>
                                    <td><a href="{% url 'locataire-update' p.id %}">{{  p.personne.nom }} {{  p.personne.prenom }} </a></td>
                                </tr>
                            {% endfor%}
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    {% if batiment.location_actuelle%}
                                        Loyer: &nbsp;{{ batiment.location_actuelle.loyer_base }}
                                    {%endif%}
                                </td>
                            </tr>
                            <tr><td>                            {% if batiment.location_actuelle%}
                                Fin: &nbsp;{{ batiment.location_actuelle.date_fin|date:"j/m/Y" }}
                            {%endif%}</td></tr>
                        </table>
                    </td>
                    <td><input type="checkbox" {% if batiment.en_gestion %}checked{% endif %} disabled></td>
                </tr>
            {% endfor%}
        </table>
    </div>
</div>