{% extends "layout.html" %}
{% load l10n %}
{% block breadcrumb %}
  <li class="active">Batiment</li>
{% endblock %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-body">
    <form  id="batiment_form"
           method="post"
           action="{% url 'update_batiment' %}">
      {% csrf_token %}
      <input type="hidden" id="previous" name="previous" value="{{request.META.HTTP_REFERER }}"/>
      <input type="hidden" value="" id="prev" name="prev"/>
      <input type="hidden" value="modify" name="action"/>
      <input type="hidden" value="{{ batiment.id }}" name="id"/>
      <div class="row">
        <div class="col-md-10">
        <label for="rue">Rue</label>
        <input class="form-control" id="rue" value="{{ batiment.rue| default_if_none:'' }}" name="rue" required
               maxlength="200">
        </div>
        <div class="col-md-1">
          <label for="numero" class="control-label">Numéro</label>
          <input class="form-control" id="numero" value="{{ batiment.numero| default_if_none:'' }}" name="numero">
          <font class="erreur_formulaire">{{ form.numero.errors|striptags }}</font>
        </div>
        <div class="col-md-1">
          <label for="boite"  class="control-label">Boite</label>
          <input class="form-control" id="boite" value="{{ batiment.boite| default_if_none:'' }}" name="boite" maxlength="10">
        </div>
      </div>
        <br>
      <div class="row">
        <div class="col-md-2">
          <label class="control-label">Code postal</label>
          <input list="localites" type="text" id="localite"
                 class="form-control" name="localite_cp"
                 value="{{batiment.localite.code_postal| default_if_none:''}}" maxlength="10">
          <datalist id="localites">
            {% for l in localites %}
                  <option value="{{ l.code_postal }}" data-id="{{l.id}}">{{ l.code_postal }}</option>
            {% endfor %}
          </datalist>
        </div>
         <div class="col-md-4">
          <label class="control-label">Localité</label>
          <input list="localites_nom" type="text" id="localite_nom"
                 class="form-control" name="localite_nom"
                 value="{{batiment.localite.localite| default_if_none:''}}"
                 maxlength="150">
          <datalist id="localites_nom">
            {% for l in localites %}
                  <option value="{{ l.localite }}" data-id="{{l.id}}">{{ l.localite }}</option>
            {% endfor %}
          </datalist>
        </div>
        <div class="col-md-6">
        </div>
      </div>
         <br>
      <div class="row">
        <div class="col-md-3">
          <label class="control-label">Superficie</label>
          <input class="form-control"
                 value="{{ batiment.superficie | default_if_none:'' }}"
                 name="superficie">
            <font class="erreur_formulaire">{{ form.superficie.errors }}</font>
        </div>
        <div class="col-md-4">
          <label class="control-label">Performance énergetique (A -> F)</label>
          <input class="form-control" type="text"
                 value="{{ batiment.performance_energetique | default_if_none:'' }}"
                 name="performance_energetique" list="performance_choix"
                 title="Performance énergétique (30 caractères maximum), des valeurs par défaut sont proposées"
                 maxlength="30" >
          <datalist id="performance_choix">
            <option value="A <= 50 kwh/m².an" >A <= 50 kwh/m².an</option>
            <option value="B 51>= <90 kwh/m².an">B 51>= <90 kwh/m².an</option>
            <option value="C 91>= <150 kwh/m².an">C 91>= <150 kwh/m².an</option>
            <option value="D 151>= <230 kwh/m².an">D 151>= <230 kwh/m².an</option>
            <option value="E 231>= <330 kwh/m².an">E 231>= <330 kwh/m².an</option>
            <option value="F 331>= <450 kwh/m².an">F 331>= <450 kwh/m².an</option>
            <option value="G >450 kwh/m².an">G >450 kwh/m².an</option>
          </datalist>
        </div>
        <div class="col-md-5">
        </div>
      </div>
     <br>
     <label class="control-label">Description</label>
     <textarea class="form-control" name="description" cols="4" rows="4" >{{ batiment.description | default_if_none:'' }}</textarea>
     <br>

    <button type="submit" class="btn btn-primary pull-right" title="Sauvegarder">
        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"> Enregistrer</span>
    </button>

     <br>
      <br>
      {% if batiment.id %}
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#proprietaires">Propriétaires</a></li>
            <li><a data-toggle="tab" href="#location" style="{% if batiment.location_en_cours %}color:green;{% else %}color:red;{% endif %}">Location</a></li>
            <li><a data-toggle="tab" href="#gestion">Gestion</a></li>
            <li><a data-toggle="tab" href="#frais">Frais (du contrat de location actuel)</a></li>
          </ul>
          <div class="tab-content">
              <div id="proprietaires" class="tab-pane fade in active">
                <div class="row">
                  <div class="col-md-12">
                    {% if batiment.proprietaires|length > 0 %}
                      <table class="table table-striped table-hover">
                        <thead>
                          <th>Nom</th>
                          <th>Date début</th>
                          <th>Date fin</th>
                          <th></th>
                        </thead>
                        {% for proprietaire in batiment.proprietaires %}
                        <tr>
                          <td><a href="{% url 'proprietaire' proprietaire.id %}?prev=fb" title="Voir">{{ proprietaire.proprietaire }}</a></td>
                          <td>{{ proprietaire.date_debut|date:"j/m/Y" }}</td>
                          <td>{{ proprietaire.date_fin|date:"j/m/Y" }}</td>
                          <td><a href="{% url 'delete_proprietaire_batiment' proprietaire.id %}"
                                 title="Pour supprimer le propriétaire du  batiment"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                        </tr>
                        {% endfor%}
                        </table>
                      {% endif %}
                    </div>
                </div>
              <br>
              <a href="{% url 'add_proprietaire' batiment.id %}" class="btn pull-right"
                 onclick="$('#prev').val('fb');"
                 title="Ajouter un propriétaire"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
            </div>
              <div id="location" class="tab-pane fade">
                  <br>
                  <div class="row">
                    <div class="col-md-1">
                      {% if batiment.contrats_location|length > 1 and batiment.contrats_location_previous|length > 0 %}
                      <a href="{% url 'location-prepare-update-all' batiment.contrat_location_previous.id %}" title="Précédent contrat de location"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        </a>
                        {% endif %}
                    </div>
                    <div class="col-md-10">
                      {% if batiment.location_actuelle%}
                      <a href="{% url 'location-prepare-update-all' batiment.location_actuelle.id %}">
                        du {{ batiment.location_actuelle.date_debut|date:"j/m/Y"}} au {{ batiment.location_actuelle.date_fin|date:"j/m/Y"}}
                        </a>
                      {%endif%}
                    </div>
                <div class="col-md-1">
                {% if batiment.contrats_location|length > 1 and batiment.contrats_location_next|length > 0 %}
                  <a href="{% url 'location-prepare-update-all' batiment.contrat_location_next.id %}"
                     title="Prochain contrat de location"
                     class="btn pull-right"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </a>
                {% endif %}
              </div>
                 </div>
                 <div class="row">
                   <div class="col-md-11">
                   </div>
                   <div class="col-md-1">
                     {% if batiment.location_actuelle%}
                     {%else%}
                      <a href="{% url 'location-create-batiment' batiment.id %}?prev=fb" title="Pour ajouter une nouvelle location"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                     {%endif%}
                   </div>
                 </div>
                 {% if batiment.locataires_actuels %}
                  <br><br>
                  <label class="control-label">Locataires actuelles</label>
                  <br>
                  <table class="table table-bordered">
                    {% for p in batiment.locataires_actuels2 %}
                    <tr>
                        <td><a href="{% url 'locataire' p.id%}?prev=fb" title="Pour modifier un locataire">{{  p.personne.nom }} {{  p.personne.prenom }}</a> </td>
                        <td>{{p.}}</td>
                    </tr>
                    {% endfor%}
                  </table>
                  {% endif %}
                  {% if batiment.location_actuelle %}
                  <a href="{% url 'locataire-new' batiment.location_actuelle.id %}"
                     title="Pour ajouter un nouveau locataire 1"
                     style="btn pull-right"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                  {% endif %}
              </div>
              <div id="gestion" class="tab-pane fade">
                <div class="row">
                  <div class="col-md-12">
                  {%if batiment.contrats_gestion%}
                    <table class="table table-striped table-hover">
                        <thead>
                            <th>Date début</th>
                            <th>Date fin</th>
                            <th>Montant mensuel</th>
                            <th>Gestionnaire</th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for c in batiment.contrats_gestion %}
                              <tr>
                                <td>{{ c.date_debut|date:"j/m/Y" }}</td>
                                <td>{{ c.date_fin|date:"j/m/Y" }}</td>
                                <td>{{ c.montant_mensuel }}</td>
                                <td>{{ c.gestionnaire }}</td>
                                <td><a href="{% url 'gestion-prepare-update-all' c.pk %}?prev=fb"
                                       title="Pour modifier un contrat de gestion"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                    <a href="{% url 'contratgestion-delete' c.id %}"
                                       title="Pour supprimer un contrat de gestion"
                                       onclick="return confirm('Sûr de vouloir supprimer?')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                              </tr>
                            {% endfor %}
                        </tbody>
                        <tr><td colspan="3"></td></tr>
                    </table>
                  {% endif %}

                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-11">
                </div>
                <div class="col-md-1">
                  <a href="{% url 'contratgestion-create' batiment.id %}"
                     title="Pour ajouter un contrat de gestion"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                </div>
              </div>
            </div>
            <div id="frais" class="tab-pane fade" >
              <div class="row">
                <div class="col-md-12">
                  {% if batiment.frais_list %}
                  <table class="table table-striped">
                    <thead>
                        <th>Professionnel</th>
                        <th>Description</th>
                        <th>Montant</th>
                        <th>Date réalisation</th>
                        <th>A charge du locataire </th>
                        <th></th>
                    </thead>
                      {% for f in batiment.frais_list %}
                    <tr>
                      <td>{{ f.entrepreneur.societe | default_if_none:'' }} / {{ f.entrepreneur.personne | default_if_none:'' }}</td>
                      <td>{{ f.description | default_if_none:''}}</td>
                      <td>{{ f.montant | default_if_none:''}}</td>
                      <td>{{ f.date_realisation | default_if_none:''|date:"j/m/Y" }}</td>
                        <td><input type="checkbox" {%if f.contrat_location %}checked{%endif%} readonly></td>
                      <td><a href="{% url 'fraismaintenance-prepare-update' f.pk %}" title="Pour modifier un frais"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                          <a href="{% url 'fraismaintenance-delete' f.id %}"
                             title="Pour supprimer un frais"
                             onclick="return confirm('Sûr de vouloir supprimer?')">
                              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                          </a>
                      </td>
                    </tr>
                  {% endfor %}
                  </table>
                  {% endif %}

                </div>
              </div>
              <br>
              <a href="{% url 'fraismaintenance-create' batiment.id %}" title="Pour ajouter un FRAIS" class="btn pull-right"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
          </div>
        </div>
    {% endif%}
    </form>
  </div>
</div>

{% endblock %}
