{% extends "layout.html" %}
{% load l10n %}
{% block breadcrumb %}
    {% if location.batiment %}
        <li><a href="{% url 'batiment' location.batiment.id  %}">Batiment</a></li>
    {% endif %}
  <li class="active">Location</li>

{% endblock %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-body">
    <form id="location_form" method="post" action="{% url 'update-location-all' %}">
      {% csrf_token %}
      <input type="hidden" id="previous" name="previous" value="{{request.META.HTTP_REFERER }}"/>
      <input type="hidden" value="{{ location.id }}" name="id"/>
      <input type="hidden" id="prev" name="prev" value="{{prev}}"/>
      <div class="form-group">
        <label for="batiment">Batiment</label>
        <input class="form-control" id="batiment" value="{{location.batiment}}" name="batiment" readonly>
      </div>
      <div class="row">
        <div class="col-md-3">
        <label for="date_debut_location">Date début</label>
        <input class="form-control"
               id="update_date_debut_location"
               value="{%if location.date_debut%}{{location.date_debut|date:"j/m/Y"}}{%endif%}" name="date_debut"
               readonly>
       {% if form.date_debut.errors%}<font class="erreur_formulaire">{{form.date_debut.errors}}</font>{%endif%}
      </div>

      <div class="col-md-3">
        <label>Date fin  {%  if location.financements|length > 1 %}<span class="glyphicon glyphicon-exclamation-sign" title="Contrat modifié"></span>{% endif %}</label>
        <input class="form-control" id="date_fin_location"
               value="{%if location.date_fin%}{{location.date_fin|date:"j/m/Y"}}{%endif%}" name="date_fin"
               readonly>
      </div>
      <div class="col-md-3">
        <label>Prolongation</label>
        <select id="slt_type_prolongation"
                name="type_prolongation"
                title="Prolonge la location d'un certain nombre d'années"
                class="form-control">
            <option>-</option>
            <option value="1">1 an</option>
            <option value="7">7 an</option>
        </select>

        </div>
        <div class="col-md-3">
          <label>&nbsp;</label>
         <button type="submit"
                 class="btn btn-default"
                 id="bt_prolongation"
                 name="bt_prolongation">Prolongation</button>
          <span class="erreur_formulaire" id="txt_msg_error_slt_type_prolongation" style="visibility:hidden:display:none;"></span>
        </div>
      </div>
        <br>

        <div class="row">
            <div class="col-md-3">
                <label>Date renonciation</label>
                <input class="form-control"
                       id="renonciation"
                       value="{% if location.renonciation %}{{ location.renonciation|date:"j/m/Y"}}{% endif %}"
                       name="renonciation"
                       readonly>
            </div>
        </div>
    <br>
        <label for="remarque">Remarque</label>
        <input class="form-control" id="remarque" value="{{location.remarque}}" name="remarque">
    <br>

      <div class="row">
        <div class="col-md-3">
        <label for="loyer_base">Loyer de base {%  if location.financements|length > 1 %}<span class="glyphicon glyphicon-exclamation-sign" title="Contrat modifié"></span>{% endif %}</label>
        <input class="form-control" id="loyer_base" value="{{location.loyer_base}}" name="loyer_base" readonly>
          {% if form.loyer_base.errors%}<font class="erreur_formulaire">{{form.loyer_base.errors}}</font>{%endif%}
      </div>

      <div class="col-md-3">
        <label for="charges_base">Charges de base</label>
        <input class="form-control" id="charges_base" value="{{location.charges_base}}" name="charges_base" readonly>
        {% if form.charges_base.errors %}<font class="erreur_formulaire">{{form.charges_base.errors}}</font>{%endif%}
      </div>
      <div class="col-md-2">
          <label>Index de base</label>
          <input class="form-control" id="index_base" value="{{location.indice_sante_base.indice}}" name="indice_sante_base" readonly>
          {% if form.indice_sante_base.errors %}<font class="erreur_formulaire">{{form.indice_sante_base.errors}}</font>{%endif%}
      </div>

      <div class="col-md-4">
        <label>Assurance</label>
        <select class="form-control" name="assurance">
          <option value="-">-</option>
          {%for a in assurances%}
            {%if a.id == location.assurance.id%}
              <option value="{{a.id}}" selected >{{ a }}</option>
            {%else%}
              <option value="{{a.id}}" >{{ a }}</option>
            {%endif%}
          {%endfor%}
      </select>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-11">
        {%if form.errors%}
          <font class="erreur_formulaire">{{form.errors}}</font>
        {%endif%}
      </div>
    </div>
        <button type="submit" class="btn btn-primary pull-right"
                title="Enregistrer les données relatives à la location">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"> Enregistrer</span>
        </button>
    </form>
  <br>
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#locataires">Locataires</a></li>
          <li><a data-toggle="tab" href="#suivis">Suivis ({{location.suivis_anterieurs |length }}) jusqu'à ce jour</a></li>
          <li><a data-toggle="tab" href="#frais">Frais ({{location.liste_frais |length }})</a></li>
          <li><a data-toggle="tab" href="#financement">
                  Loyers
                  {% if location.dernier_financement and location.dernier_financement.loyer != location.loyer_base %}
                      <span class=" alert-warning" title="Loyer de base modifié">({{ location.dernier_financement.loyer }})</span>
                  {% endif %}
              </a></li>
          <li><a data-toggle="tab" href="#comptabilite"><span style="color:{% if location.tot_suivis_paye <  location.total_frais%}red;{% else %}green;{% endif %}">Comptabilité</span></a></li>
      </ul>
    <div class="tab-content">

        <div id="locataires" class="tab-pane fade in active">
          <br>
          <label class="control-label">Locataires</label>
          <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Informations complémentaires</th>
                    <th>Principal</th>
                    <th></th>
                </tr>
            </thead>
              <tbody>
            {% for locataire in location.locataires %}
            <tr>
              <td><a href="{% url 'locataire' locataire.id %}" title="Pour modifier un locataire">{{ locataire.personne.nom}}</a></td>
              <td><a href="{% url 'locataire' locataire.id %}" title="Pour modifier un locataire">{{ locataire.personne.prenom }}</a></td>
              <td>{% if locataire.infos_complement %}{{ locataire.infos_complement }}{%endif%}</td>
              <td><input type="checkbox" {% if locataire.principal%}checked{%endif%} readonly></td>
              <td>
                  <a href="{% url 'locataire-delete' locataire.id %}"
                     title="Pour supprimer un locataire"
                     onclick="return confirm('Sûr de vouloir supprimer?')">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </a>
              </td>

            </tr>
            {% endfor%}
            <tr style="text-align:right">
              <td colspan="5"><a href="{% url 'locataire-new' location.pk %}"
                                 title="Pour ajouter un nouveau locataire"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
              </td>
            </tr>
              </tbody>
            </table>
        </div>
        <div id="suivis" class="tab-pane fade">
            <table class="table ">
                <thead>
                    <tr>
                      <th>Date paiement</th>
                      <th>Etat</th>
                      <th>Loyer</th>
                      <th>Charges</th>
                      <th>Remarque</th>
                      <th></th>
                    </tr>
                </thead>
            {% for s in location.suivis_anterieurs %}
                  <tr class="{{s.etat_suivi}}">
                    <td>{{s.date_paiement|date:"d/m/Y"}}</td>
                    <td>{{s.get_etat_suivi_display}}</td>
                    <td style="background-color:{%if s.loyer_percu == s.financement_location.loyer%}transparent{% else %}red{% endif %};">{{s.loyer_percu}} ({{s.financement_location.loyer}})</td>
                    {% if s.financement_location.charges > 0 %}
                    <td style="background-color:{%if s.charges_percu == s.financement_location.charges%}transparent{% else %}red{% endif %};">{{s.charges_percu}} ({{s.financement_location.charges}})</td>
                    {% else %}
                    <td>-</td>
                    {% endif %}
                    <td>{{s.remarque| default_if_none:"-" }}</td>
                    <td>
                        <a href="{% url 'suivis-updatel' s.id %}?dated={{date_debut|date:"j/m/Y"}}&datef={{date_fin|date:"j/m/Y"}}&etat={{etat}}" title="Pour modifier un suivi" onclick="submit()">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>
                    </td>
                  </tr>
            {%endfor%}
            </table>
      </div>
        <div id="frais" class="tab-pane fade">
           <table class="table table-striped table-hover">
              <thead>
                  <tr>
                      <th>Entrepreneur</th>
                      <th>Description</th>
                      <th>Montant</th>
                      <th>Date réalisation</th>
                      <th></th>
                  </tr>
                </thead>
          {% for frais in location.liste_frais %}
              <tr>
                  <td>{{ frais.entrepreneur| default_if_none:'' }}</td>
                  <td>{{ frais.description| default_if_none:'' }}</td>
                  <td>{{ frais.montant| default_if_none:'' }}</td>
                  <td>{{ frais.date_realisation| default_if_none:''| date:"j/m/Y" }}</td>
                  <td>
                    <a href="{% url 'fraismaintenance-edit-from-location' frais.id %}" title="Pour modifier des frais"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    <a href="{% url 'fraismaintenance-delete-from-location' frais.id %}"
                       title="Pour supprimer des frais"
                       onclick="return confirm('Sûr de vouloir supprimer?')">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                  </td>
              </tr>
          {% endfor%}
          </table>
            <br>
            <a class="btn btn-default pull-right" href="{% url 'fraismaintenance-new-contrat' location.id %}"
               title="Pour ajouter une nouvelle dépense">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
            </div>
                <div id="financement" class="tab-pane fade">
          <br>
          <label class="control-label">Historique loyers de la location</label>
          <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Date début</th>
                    <th>Date fin</th>
                    <th>Loyer</th>
                    <th>Charges</th>
                    <th>Indice santé</th>
                </tr>
            </thead>
              <tbody>
            {% for financement in location.financements %}
            <tr>
              <td>{{ financement.date_debut|date:"d/m/Y" }}</td>
              <td>{{ financement.date_fin|date:"d/m/Y" }}</td>
              <td>{{ financement.loyer }}</td>
              <td>{{ financement.charges }}</td>
              <td>{{ financement.indice_sante.indice }}</td>
            </tr>
            {% endfor%}
            <tr style="text-align:right">
              <td colspan="5">
                  <a href="{% url 'financement-new' location.pk %}?prev=fl"
                     title="Pour ajouter un nouveau financement" class="btn btn-default pull-right">
                      Modifier montant loyer/charges
                  </a>
              </td>
            </tr>
              </tbody>
            </table>
        </div>
        <div id="comptabilite" class="tab-pane fade">
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>Frais ({{ location.liste_frais|length }})</th>
                        <th>Revenus</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ location.total_frais }}</td>
                        <td>{{ location.tot_suivis_paye }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
  </div>
</div>

{% endblock %}
