{% extends "layout.html" %}
{% block breadcrumb %}

  <li class="active">Location</li>
{% endblock %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-body">
    <form method="post" action="{% url 'add-location-for-batiment' %}">
      {% csrf_token %}
      <input type="hidden" id="previous" name="previous" value="{{request.META.HTTP_REFERER }}"/>
      <input type="hidden" id="prev" name="prev" value="{{prev}}"/>
      <input type="hidden" name="batiment" value="{{location.batiment}}"/>
      <div class="form-group">
        <label for="batiment_id">Batiment</label>
        <br>{{location.batiment}}
        <input type="hidden" value="{{location.batiment.id}}" name="batiment_id" >
      </div>
      <div class="row">
        <div class="col-md-4">
        <label for="date_debut">Date début</label>
        <input class="form-control" id="date_debut" value="{%if location.date_debut%}{{location.date_debut|date:"j/m/Y"}}{%endif%}" name="date_debut"><font class="erreur_formulaire">{{ form.date_debut.errors }}</font>
        </div>

        <div class="col-md-4">
          <label for="date_fin">Date fin</label>
          <input class="form-control" id="date_fin" value="{%if location.date_fin%}{{location.date_fin|date:"j/m/Y"}}{%endif%}" name="date_fin"><font class="erreur_formulaire">{{ form.date_fin.errors }}</font>
        </div>
        <div class="col-md-4">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="renonciation">Date renonciation</label>
          <input class="form-control" id="renonciation" value="{{ location.renonciation|date:"j/m/Y"| default_if_none:'' }}" name="renonciation">
        </div>
        <div class="col-md-8">
        </div>
      </div>
      <div class="form-group">
        <label for="remarque">Remarque</label>
        <input class="form-control" id="remarque" value="{{ location.remarque| default_if_none:'' }}" name="remarque">
      </div>

      <div class="row">
        <div class="col-md-5">
        <label for="loyer_base">Loyer de base</label>
        <input class="form-control" type="number" step="any" value="{{ location.loyer_base }}" name="loyer_base"><font class="erreur_formulaire">{{ form.loyer_base.errors }}</font>
        </div>

        <div class="col-md-5">
          <label for="charges_base">Charges de base</label>
          <input class="form-control" type="number" step="any" value="{{ location.charges_base }}" name="charges_base">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <label for="assurance">Assurance</label>
          <select class="form-control" name="assurance"  class="form-control">
            <option value="">-</option>
            {%for a in assurances%}
            <option value="{{a.id}}">{{a}}</option>
            {%endfor%}
          </select>
        </div>
        <div class="col-md-4">
        </div>
      </div>
      <input type="submit" value="OK">
    </form>
  </div>
</div>
{% endblock %}
