{% extends "layout.html" %}

{% block breadcrumb %}

  <li class="active">Contrat gestion</li>
{% endblock %}
{% block content %}
    <form  method="post" action="{% url 'update-gestion-all' %}">
      {{form.errors}}
      {% csrf_token %}
      <input type="hidden" id="previous" name="previous" value="{{request.META.HTTP_REFERER }}"/>
      <input type="hidden" value="{{ action | default_if_none:'' }}" name="action"/>
      <input type="hidden" value="{{ contrat.id | default_if_none:'' }}" name="id"/>
      <div class="form-group">
        <label>Batiment</label>
        <input class="form-control" value="{{contrat.batiment| default_if_none:'' }}" name="batiment" readonly="readonly" >
        <input type="hidden" value="{{ contrat.batiment.id | default_if_none:'' }}" name="batiment_id"/>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Gestionnaire</label>
          <select name="gestionnaire"  class="form-control">
            {%for p in personnes%}
            {%if contrat.gestionnaire and p = contrat.gestionnaire %}
            <option value="{{p.id}}" selected="">{{p}}</option>
            {%else%}
              <option value="{{p.id}}" >{{p}}</option>
            {%endif%}
            {%endfor%}
          </select>
        </div>
        <div class="col-md-6">
          <label>Montant mensuel</label>
          <input class="form-control"
                 value="{{ contrat.montant_mensuel| default_if_none:'' }}"
                 name="montant_mensuel">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-5">
        <label for="date_debut">Date début</label>
        <input class="form-control" id="date_debut" value="{%if contrat.date_debut%}{{contrat.date_debut|date:"j/m/Y" }}{%endif%}"
               name="date_debut">
          {% if form.date_debut.errors%}<font class="erreur_formulaire">{{form.date_debut.errors}}</font>{%endif%}
      </div>

      <div class="col-md-5">
        <label for="date_fin">Date fin</label>
        <input class="form-control" id="date_fin" value="{%if contrat.date_fin%}{{contrat.date_fin|date:"j/m/Y"}}{%endif%}"
               name="date_fin">
      </div>
      </div>

<br>
      <input type="submit" value="OK">

    </form>
    {%if message%}
    <br>
      <div class="alert alert-danger" role="alert">{{message}}</div>

    {%endif%}

{% endblock %}
