{% extends "layout.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block breadcrumb %}
    {% if contrat.batiment %}
        <li><a href="{% url 'batiment' contrat.batiment.id  %}">Batiment</a></a></li>
    {% endif %}
  <li class="active">Contrat gestion</li>
{% endblock %}

{% block content %}
    <form action="{% url 'update-gestion-all' %}"
            method="post" id="form_contrat_gestion_update">
     {% csrf_token %}
      <input type="hidden" id="previous" name="previous" value="{{ previous }}" >
      <input type="hidden" value="{{ action|default_if_none:'' }}" name="action" >
      <input type="hidden" value="{{ contrat.id | default_if_none:'' }}" name="id" >
        {% bootstrap_form form %}
        {% bootstrap_form_errors form %}

        <button type="submit" class="btn btn-primary pull-right" id="bt_contrat_gestion_updater"
                title="Sauvegarder"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"> Enregistrer</span>
        </button>
        <br>
    </form>
{% endblock %}

{% block script %}
    <script>
        $("#id_date_debut").datepicker({
            autoclose: true,
            orientation: "bottom auto",
            language: "fr",
            showOtherMonths: false
        });
        $("#id_date_fin").datepicker({
            autoclose: true,
            orientation: "bottom auto",
            language: "fr",
            showOtherMonths: false
        });

    </script>
{% endblock %}