{% extends "layout.html" %}
{% block breadcrumb %}

<li class="active">Nouveau financement</li>
{% endblock %}
{% block content %}
    <form id="financement_form" method="post" action="{% url 'create-financement' %}">
        {% csrf_token %}
        <input type="hidden" id="previous" name="previous" value="{{ previous }}"/>
        <input type="hidden" value="{{ prev }}" name="prev"/>
        <input type="hidden" value="{{ id_location }}" id="id" name="id"/>
        <br>
        <p class="text-muted">Encoder la date à partir de laquelle le loyer et/ou les charges changent</p>
        <br>
        <div class="row">
            <div class="col-md-2">
                <label>Date début</label>
                <input type="date" class="form-control"
                       id="date_debut_financement" name="date_debut"
                       value="{{ nouveau_financement.date_debut|date:" j/m/Y" }}"/>
            </div>
            <div class="col-md-2">
                <label>Date fin</label>
                <input type="date" class="form-control" value="{{ nouveau_financement.date_fin|date:" j/m/Y" }}"
                       readonly
                       id="date_fin_financement name="date_fin"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label for="loyer">Loyer</label>
                <input type="text" class="form-control" value="{{ nouveau_financement.loyer }}" id="loyer"
                       name="loyer"/>
            </div>
            <div class="col-md-2">
                <label for="charges">Charges</label>
                <input type="text" class="form-control" value="{{ nouveau_financement.charges }}" id="charges"
                       name="charges"/>
            </div>
            <div class="col-md-2">
                <label>Index</label>
                <input type="text"  class="form-control" value="{{ nouveau_financement.index}}"
                       name="index"/>
            </div>
        </div>

        <br>
        <div class="row">
            <input type="submit" class="btn btn-primary" value="Enregistrer" />
            <input type="submit" class="btn btn-default" value="Annuler" name="cancel_financement_loc_new"/>
        </div>

    </form>

{% endblock %}
