{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}

  <!--  <div class="row">
        <div class="col-md-1"><i class="fa fa-home" style="font-size: 400%; color: #6699FF;"></i></div>
        <div class="col-md-5">
    
          <h4 class="media-heading"><a href="{% url 'listeBatiments' %}">Batiments</a></h4>
        </div>
        <div class="col-md-1"><i class="fa fa-users" style="font-size: 400%; color: #6699FF;"></i></div>
        <div class="col-md-5">
          <h4 class="media-heading"><a href="{% url 'listeProprietaires' %}">Propriétaires</a></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"><i class="fa fa-home" style="font-size: 400%; color: #6699FF;"></i></div>
        <div class="col-md-5">
          <h4 class="media-heading"><a href="{% url 'personne_list' %}">Personnes</a></h4>
        </div>
        <div class="col-md-1"><i class="fa fa-users" style="font-size: 400%; color: #6699FF;"></i></div>
        <div class="col-md-5">
          <h4 class="media-heading"><a href="{% url 'societe_list' %}">Sociétés</a></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"><i class="fa fa-home" style="font-size: 400%; color: #6699FF;"></i></div>
        <div class="col-md-5">
          <h4 class="media-heading"><a href="{% url 'contratgestion_list' %}">Les contrats de gestion</a></h4>
        </div>
        <div class="col-md-1"><i class="fa fa-users" style="font-size: 400%; color: #6699FF;"></i></div>
        <div class="col-md-5">
          <h4 class="media-heading"><a href="{% url 'fraismaintenance_list' %}">Frais de maintenance</a></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"><i class="fa fa-home" style="font-size: 400%; color: #6699FF;"></i></div>
        <div class="col-md-5">
          <h4 class="media-heading"><a href="{% url 'contratlocation_list' %}">Contrats location</a></h4>
        </div>
        <div class="col-md-1"><i class="fa fa-users" style="font-size: 400%; color: #6699FF;"></i></div>
        <div class="col-md-5">

        </div>
    </div>
    <div class="row">
        <div class="col-md-1"><i class="fa fa-home" style="font-size: 400%; color: #6699FF;"></i></div>
        <div class="col-md-5">
          <h4 class="media-heading"><a href="{% url 'suivis' %}">Suivis</a></h4>
        </div>
        <div class="col-md-1"><i class="fa fa-users" style="font-size: 400%; color: #6699FF;"></i></div>
        <div class="col-md-5">
          <h4 class="media-heading"><a href="{% url 'alerte_list' %}">Alertes</a></h4>
        </div>
    </div>-->

<br/>
<br/>

{% endblock %}
