{% load staticfiles %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Conseil immo</title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
		    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
        <link rel="stylesheet" href="{% static 'css/armata.css' %}" type='text/css'>
        <link rel="icon" href="{% static 'images/favicon.ico' %}" />
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
        <link rel="stylesheet" href="{% static "css/custom.css" %}">
        <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
        {% block style %}
        {% endblock %}
        <style>
          body { font-family: 'Armata', sans-serif; }
        </style>
    </head>
    <body>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" style="margin-top: -10px;height:60px;"></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="{% url 'listeBatiments' %}">Locaux</a></li>
              <li><a href="{% url 'personne_search' %}">Carnet d'adresses</a></li>
              <li><a href="{% url 'contratlocation_list' %}">Locations</a><a href="#"></a></li>
              <li><a href="{% url 'suivis' %}">Finances</a><a href="#"></a></li>
              <li><a href="{% url 'honoraire-list' %}">Honoraires</a></li>
              <li><a href="{% url 'alerte_list' %}">Agenda</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/admin" target="_blank"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Administration</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ request.user.first_name }} <span class="caret"></span></a>
                </li>
            </ul>
          </div>
            {% if message_info %}
                <span id="message_info" class="alert-info" style="margin-top:-50px;border-color:#9acfea">{{message_info}}</span>
            {% endif %}
        </div>
      </nav>

      <div class="container" id="container_main">
      <br>
          {% block breadcrumbarea %}
              <ol class="breadcrumb">
                  <li><a href="{% url 'home' %}" id="lnk_home_osis"><span class="glyphicon glyphicon-home"
                                                                          aria-hidden="true"></span></a></li>
                  {% block breadcrumb %}
                  {% endblock %}
              </ol>
          {% endblock %}
        {% block content %}
        {% endblock %}
      </div>
      <br>

      <script src="{% static "js/jquery-2.1.4.min.js" %}"></script>
      <script src="{% static "js/bootstrap.min.js" %}"></script>
      <script src="{% static "js/custom.js" %}"></script>
      <script src="{% static "js/location.js" %}"></script>
      <script src="{% static "js/personne.js" %}"></script>
      <script src="{% static "js/societe.js" %}"></script>
      <script src="{% static "js/suivi.js" %}"></script>
      <script src="{% static "js/jquery.dataTables.min.js" %}"></script>
      <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
      <script src="{% static 'js/locales/bootstrap-datepicker.fr.js' %}"></script>
      <script src="{% static "js/customComboBox.js" %}"></script>
      {% block script %}
      <script>
        $(document).ready(function() {

            $('#tbl_data').dataTable({
                "lengthChange": false,
                "language": {
                    "url": "/static/i18n/French.json"
                }
            });

            $('#tbl_data_batiments').DataTable({
                "lengthChange": false,
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false,
                }]
                ,
                "language": {
                    "url": "/static/i18n/French.json"
                }
            }
            );
            $('#tbl_data_honoraires').DataTable({
                "lengthChange": false,
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false,
                }],
                "language": {
                    "url": "/static/i18n/French.json"
                }
            }
            );
            $('#message_info').fadeOut(5000);
            //document.querySelector('input[list="localites_nom"]').addEventListener('input', onInput);


            var applyTo = document.querySelector('input[list="localites_nom"]');
            if(applyTo) { applyTo.addEventListener('input', onInput);}
            applyTo = document.querySelector('input[list="localites"]');
            if(applyTo) { applyTo.addEventListener('input', onInput2);}

            $(".select_updatable").customComboBox({

                tipText : "Entrez la nouvelle valeur",

                tipClass : "mytipclass",

                allowed : /[A-Za-z0-9\$\.\s]/,

                notallowed : /[\<\>]/,

                index : 'last',

                isEditing : function(el, status, value) {
                    if (typeof window.console!='object') { return; }
                    console.info('Editing status changed to (', status, ') on ', el, ' combo box and the selected value is "', value, '"');
                },
                onKeyDown : function(el, character, fulltext) {
                    if (typeof window.console!='object') { return; }
                    console.info('The character (', character, ') was just typed into ', el, ' combo box and the complete text is now "', fulltext, '"');
                },
                onDelete : function(el, fulltext) {
                    if (typeof window.console!='object') { return; }
                    console.info('A character was deleted from ', el, ' combo box and the complete text is now "', fulltext, '"');
                }
            });

            $("form p").find('input').on('click',function(e) {
                var sel = $(e.currentTarget).prev('select');
                var name = sel.attr('name').toUpperCase();
                var val = sel.find('option:selected').val();
                $("#result").text(name+" combo box value is " + val);
            });


        } );


        $("#btn_ajout_societe").click(function(event) {
            if ($('#btn_ajout_societe').prop('checked')) {
                $('#pnl_nouvelle_societe').css('visibility', 'visible');
                $('#pnl_nouvelle_societe').css('display', 'block');
                $('#slt_societes').prop('selectedIndex',-1);
                $('#slt_societes').val('-');
            }else{
                $('#pnl_nouvelle_societe').css('visibility', 'hidden');
                $('#pnl_nouvelle_societe').css('display', 'none');
                $('#txt_nom_nouvelle_societe').val('');
                $('#txt_description_nouvelle_societe').val('');
            }

        });

        $("#btn_ajout_personne").click(function(event) {

            if ($('#btn_ajout_personne').prop('checked')) {
                $('#proprietaire').prop('disabled', true);
                $('#proprietaire').prop('selectedIndex', -1);
                $('#proprietaire').val('-');
                $('#pnl_nouveau_personne').css('visibility', 'visible');
                $('#pnl_nouveau_personne').css('display', 'block');
            }else {
                $('#proprietaire').prop('disabled', false);
                $('#pnl_nouveau_personne').css('visibility', 'hidden');
                $('#pnl_nouveau_personne').css('display', 'none');

                $('#txt_nouveau_nom').val('');
                $('#txt_nouveau_prenom').val('');
                $('#txt_nouveau_prenom2').val('');
            }

        });

        $("#slt_societes").change(function() {
            $('#pnl_nouvelle_societe').css('visibility', 'hidden');
            $('#pnl_nouvelle_societe').css('display', 'none');
        });
        $("#proprietaire_date_debut").datepicker({
            autoclose: true,
            orientation: "bottom auto",
            language: "fr"
        });
        $("#proprietaire_date_fin").datepicker({
            autoclose: true,
            orientation: "bottom auto",
            language: "fr"
        });
        $("#txt_date_naissance").datepicker({
            autoclose: true,
            orientation: "bottom auto",
            language: "fr"
        });
        $("#txt_date_realisation").datepicker({
            autoclose: true,
            orientation: "bottom auto",
            language: "fr"
        });
        $("#update_date_debut_location").datepicker({
            autoclose: true,
            orientation: "bottom auto",
            language: "fr"
        });
        $("#date_debut_gestion").datepicker({
            autoclose: true,
            orientation: "bottom auto",
            language: "fr"
        });
        $("#date_fin_gestion").datepicker({
            autoclose: true,
            orientation: "bottom auto",
            language: "fr"
        });
        $("#date_debut_financement").datepicker({
            autoclose: true,
            orientation: "bottom auto",
            language: "fr"
        });
        $("#date_fin_financement").datepicker({
            autoclose: true,
            orientation: "bottom auto",
            language: "fr"
        });
        $("#date_paiement_reel").datepicker({
            autoclose: true,
            orientation: "bottom auto",
            language: "fr"
        });
        $("#form_date_debut_location").datepicker({
            autoclose: true,
            orientation: "bottom auto",
            language: "fr"
        });
        $("#new_date_debut").datepicker({
            autoclose: true,
            orientation: "bottom auto",
            language: "fr"
        });





        $("#date_paiement_reel").dblclick(function(event) {
            $("#date_paiement_reel" ).datepicker({dateFormat:"dd/mm/yy"}).datepicker("setDate",new Date());
        });

        $("#chb_new_entrepreneur").click(function(event) {
            if ($('#chb_new_entrepreneur').prop('checked')) {
                $('#pnl_new_entrepreneur').css('visibility', 'visible');
                $('#pnl_new_entrepreneur').css('display', 'block');
                $('#slt_entrepreneur').prop('disabled', true);
                $('#slt_entrepreneur').prop('disabled', true);
                $('#slt_entrepreneur').prop('selectedIndex',0);

            }else{
                $('#pnl_new_entrepreneur').css('visibility', 'hidden');
                $('#pnl_new_entrepreneur').css('display', 'none');
                $('#slt_entrepreneur').prop('disabled', false);
            }
        });
    </script>
          <style type="text/css">
              .mytipclass {
                  font-style:italic;
                  color:red;
              }
              select {
                  width:250px;
                  padding: 2px;
                  margin-top: 5px;
                  border:1px solid #999
              }
              p {
                  padding: 10px;
              }
          </style>
      {% endblock %}
    </body>
</html>
