{% extends "layout.html" %}
{% block breadcrumb %}
  <li class="active">Liste des batiments</li>
{% endblock %}
{% block content %}
        
        <table class="table table-striped table-hover">
            <thead>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Proprio</th>
            </thead>
        {% for batiment in batiments %}        
            <tr>
                <td>
                    <a href="{% url 'batiment' batiment.id %}">{{ batiment.nom }}</a>
                </td>
                <td>
                    {{ batiment.adresse_rue }}
                    <br/>
                    {{ batiment.adresse_localite }}                        
                </td>
                <td>
                    <table>
                    {% for proprietaire in batiment.proprietaires %}                      
                        <tr><td>{{ proprietaire.proprietaire }}</td></tr>
                    {% endfor%}
                    </table>
                </td>
            </tr>
        {% endfor%}
        </table>    
                        
       
{% endblock %}