{% extends "layout.html" %}
{% load staticfiles %}
{% load order %}
{% block breadcrumb %}
  <li class="active">Liste des batiments</li>
{% endblock %}
{% block content %}

        <table class="table table-striped table-hover">
            <thead>
                <th>Rue</th>
                <th>Numéro</th>
                <th>Boite</th>
                <th>Localite</th>
                <th>Proprio(s)</th>
                <th>Locataire(s) actuel(s)</th>
                <th>Location actuelle</th>
            </thead>
        {% for batiment in batiments %}
            <tr>
                <td>
                  <a href="{% url 'batiment' batiment.id %}"><img src="{% static 'images/glyphicons-21-home.png'%}">&nbsp;&nbsp;</a>{{ batiment.rue }}
                </td>
                <td>
                    {{ batiment.numero }}
                </td>
                <td>
                    {{ batiment.boite }}
                </td>
                <td>
                    {{ batiment.localite }}
                </td>
                <td>
                    <table>
                    {% for proprietaire in batiment.proprietaires %}
                        <tr><td>{{ proprietaire.proprietaire }}</td></tr>
                    {% endfor%}
                    </table>
                </td>
                <td>
                  <table>
                    {% for p in batiment.locataires_actuels %}
                    <tr>
                      <td>{{  p.nom }} {{  p.prenom }} </td>
                    </tr>
                  {% endfor%}
                    </table
                </td>
                <td>
                  {% if batiment.location_actuelle%}
                  du {{ batiment.location_actuelle.date_debut}} au {{ batiment.location_actuelle.date_fin}}
                  {%endif%}
                </td>
            </tr>
        {% endfor%}
        </table>


{% endblock %}
