{% extends "layout.html" %}
{% load staticfiles %}
{% block breadcrumb %}

  <li class="active">Liste des batiments</li>
  {% if filtre%}
  <li >Filtrer par {{filtre}}</li>
  {%endif%}

{% endblock %}
{% block content %}
{% if filtre%}
<a href="{% url 'listeBatiments' %}">Voir tous les batiments</a>
{%endif%}
<div class="panel panel-default">
  <div class="panel-body">
    <br>
        <table class="table table-striped table-hover">
            <thead>
                <th>Rue</th>
                <th>Numéro</th>
                <th>Boite</th>
                <th>Localité</th>
                <th colspan="2">Proprio(s)</th>
                <th>Location actuelle</th>
            </thead>
        {% for batiment in batiments %}
            <tr>
                <td>
                  {{ batiment.rue }}
                </td>
                <td>
                    {{ batiment.numero| default_if_none:'' }}
                </td>
                <td>
                    {{ batiment.boite| default_if_none:'' }}
                </td>
                <td>
                    {{ batiment.localite| default_if_none:'' }}
                </td>
                <td>
                    <table>
                    {% for proprietaire in batiment.proprietaires %}
                        <tr><td><a href="{% url 'proprietaire' proprietaire.proprietaire.id %}">{{ proprietaire.proprietaire }}</a></td></tr>
                    {% endfor%}
                    </table>

                </td>
                <td>
                <!--  <a href="{% url 'proprietaire-create-batiment' batiment.pk %}" title="Pour ajouter un propriétaire"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>-->
                </td>
                </td>

                <td>
                  {% if batiment.location_actuelle%}
                  {{ batiment.location_actuelle.date_debut|date:"j/m/Y" }} - {{ batiment.location_actuelle.date_fin|date:"j/m/Y" }}
                  {%endif%}
                  <table style="margin-top:10px;">
                    {% for p in batiment.locataires_actuels %}
                    <tr><td>{{  p.nom }} {{  p.prenom }} </td></tr>
                  {% endfor%}
                  </table>

              </td>
                </td>
                <td>
                  <td>
                    <a href="{% url 'batiment' batiment.pk%}" title="Pour modifier un batiment"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    <a href="{% url 'batiment-delete' batiment.pk%}" title="Pour supprimer un batiment"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                  </td>
                </td>
            </tr>
        {% endfor%}
        </table>
        <p align="right">
          <a href="{% url 'batiment-create' %}" title="Pour créer un nouveau batiment"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
        </p>
      </div>
            </div>
{% endblock %}
