{% extends "layout.html" %}
{% block breadcrumb %}

{% endblock %}
{% block content %}
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#info_locataire">Info locataire</a></li>
  <li><a data-toggle="tab" href="#info_contact">Info contact</a></li>
</ul>

<div class="tab-content">
    <div id="info_locataire" class="tab-pane fade in active">
<div class="panel panel-default">
  <div class="panel-body">
    <form  method="post" action="{% url 'locataire-add' %}">
      {% csrf_token %}
      <input type="hidden" id="previous" name="previous" value="{{request.META.HTTP_REFERER }}"/>
      <input type="hidden" value="{{action}}" name="action"/>
      <input type="hidden" value="{{ locataire.id }}" name="locataire_id"/>
      <input type="hidden" value="{{ locataire.contrat_location.id}}" name="location_id"/>
      <div class="row">
        <div class="col-md-4">
          <label>Locataire</label>
          {% if action == 'update'%}
          <br>
          {{locataire.personne}}
            <input type="hidden" value="{{ locataire.personne.id }}" name="personne_id"/>
          <br>
          <br>
          {%else%}
          <select class="form-control" name="personne_id" >
            {% for p in personnes %}
                {% if locataire.personne.id == p.id %}
                  <option value="{{ p.id }}" selected>{{ p }}</option>
                {%else%}
                  <option value="{{ p.id }}">{{ p }}</option>
                {% endif %}
            {% endfor %}
          </select>
            {% endif %}
        </div>
        <div class="col-md-4">
          <label>Civilite</label>
          <select class="form-control" name="civilite" >
            ('NON_PRECISE','-'),
            ('MADAME','Madame'),
            ('MONSIEUR','Monsieur'),
            ('MAITRE','Maitre'),
            ('','Docteur'),
              {%if locataire.civilite == 'NON_PRECISE' %}
                <option value="NON_PRECISE" selected>-</option>
              {%else%}
                <option value="NON_PRECISE">-</option>
              {%endif%}
              {%if locataire.civilite == 'MADAME' %}
                <option value="MADAME" selected>Madame</option>
              {%else%}
                <option value="MADAME">Madame</option>
              {%endif%}
              {%if locataire.civilite == 'MONSIEUR' %}
                <option value="MONSIEUR" selected>Monsieur</option>
              {%else%}
                <option value="MONSIEUR">Monsieur</option>
              {%endif%}
              {%if locataire.civilite == 'MAITRE' %}
                <option value="MAITRE" selected>Maitre</option>
              {%else%}
                <option value="MAITRE">Maitre</option>
              {%endif%}
              {%if locataire.civilite == 'DOCTEUR' %}
                <option value="DOCTEUR" selected>Docteur</option>
              {%else%}
                <option value="DOCTEUR">Docteur</option>
              {%endif%}
          </select>
        </div>
        <div class="col-md-3">
          <label>Principal</label><br>
          <input type="checkbox" name="principal" {%if  locataire.principal  = True %}checked{%else%}''{%endif%}>
        </div>
        <div class="col-md-1">
          {% if not locataire.id %}
          <label class="invisible">&nbsp;</label>
          <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ajoutPersonneModal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </button>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <label>Location</label>
          {% if action == 'update'%}
          <br>
          {{ locataire.contrat_location.batiment| default_if_none:'' }}
          <br>
          du {{ locataire.contrat_location.date_debut|date:"j/m/Y" }} au {{ locataire.contrat_location.date_fin|date:"j/m/Y" }}

          <br>
          <br>
          {%else%}
          <input class="form-control" value="{{ locataire.contrat_location.batiment| default_if_none:'' }}" >
          <input class="form-control" value="{{ locataire.contrat_location.date_debut|date:"j/m/Y" }} au {{ locataire.contrat_location.date_fin|date:"j/m/Y" }}"
                 name="contrat_location" >
          {%endif%}
        </div>
        <div class="col-md-3">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <label>Infos complementaires</label>
          <input class="form-control" value="{{ locataire.infos_complement| default_if_none:'' }}" name="infos_complement">
        </div>
        <div class="col-md-3">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <label>Societé</label>
          <select name="societe" class="form-control">
            <option value="">-</option>
            {% for societe in societes%}
              <option value="{{societe.id}}" {%if societe.id = locataire.societe.id %}selected{%endif%}>{{societe}}</option>
            {%endfor%}
          </select>
        </div>
        <div class="col-md-4">
          <label>TVA</label>
          <input class="form-control" value="{{ locataire.tva| default_if_none:'' }}" name="tva">
        </div>
        <div class="col-md-4">
          <label>Profession</label>

          <select name="profession" id="slt_profession"  class="form-control">
            <option value="">-</option>
            {% for fonction in fonctions%}
              <option value="{{fonction.id}}" {%if fonction.id = locataire.profession.id %}selected{%endif%}>{{fonction}}</option>
            {%endfor%}
          </select>
          <button style="visibility:hidden;display:none" type="button"
                   id="bt_fonction_add"
                   class="btn btn-default"
                   title="Ajouter une nouvelle fonction"
                   data-toggle="modal" data-target="#pnl_create_fonction">
             <span class="glyphicon glyphicon-&add" aria-hidden="true" id="spn_modify_picture">+</span>
         </button>
        </div>
      </div>
      <br>
      <div class="pull-right">
        <input type="submit" value="OK">
        <input type="submit" value="Cancel" name="bt_cancel">
      </div>
    </form>

</div>
</div>
    </div>
    <div id="info_contact" class="tab-pane fade ">
      {% include 'personne_form.html'%}
    </div>
</div>




<!-- Ajout personne modal -->
<div class="modal fade" id="ajoutPersonneModal" tabindex="-1" role="dialog" aria-labelledby="submissionScoresLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="submissionScoresLabel">Ajout Personne</h4>
            </div>
            <div class="modal-body">
            <form  method="post" enctype="multipart/form-data" action="{% url 'personne-create-locataire' %}">
              {% csrf_token %}
              <input type="hidden" value="{{ location.id}}" name="location_id_pers"/>
              <div class="row">
      <div class="col-md-6">
                  <label for="nom" class="control-label">Nom</label>
                  <input class="form-control" id="nom" placeholder="Nom" name="nom" style="text-transform:uppercase">
                </div>
                <div class="col-md-6">
                </div>
              </div>
                <div class="row">
                  <div class="col-md-6">
                  <label for="prenom"  class="control-label">Prénom</label>
                  <input class="form-control" id="prenom" placeholder="Prenom" name="prenom" style="text-transform:uppercase">
                </div>
                <div class="col-md-6">
                </div>
              </div>

            <div class="modal-footer">
                <input type="submit" value="ok"/>
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            </div>
          </form>
        </div>
    </div>
            </div>
</div>
{% include "fonction_create.html" %}
{% endblock %}
