{% extends "layout.html" %}
{% load staticfiles %}
{% block breadcrumbarea %}
{% endblock %}
{% block content %}
<a class="btn btn-default" href="{% url 'batiment-create' %}" title="Pour créer un nouveau batiment">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"> Ajout local</span>
</a>
<a class="btn btn-default" href="{% url 'locataire-new-location' %}" title="Pour ajouter un nouveau locataire" style="visibility: hidden;display: none;">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"> Ajout locataire</span>
</a>
<a class="btn btn-default" href="{% url 'contrat_location_form' %}" title="Pour ajouter une nouvelle location">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"> Ajout location</span>
</a>
<a class="btn btn-default" href="{% url 'personne-create' %}" title="Pour créer un nouveau contact">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"> Ajout contact</span>
</a>
<a class="btn btn-default" href="#" title="Pour ajouter un nouveau revenu" style="visibility: hidden;display: none;">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"> Ajout revenu</span>
</a>
<a class="btn btn-default" href="{% url 'fraismaintenance-new' %}" title="Pour ajouter une nouvelle dépense">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"> Ajout frais</span></a>
<a class="btn btn-default" href="{% url 'contratgestion-new' %}" title="Pour ajouter un contrat de gestion">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"> Ajout contrat gestion</span>
</a>

<br>
<br>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Revenus (<span style="color:green">{{tot_recettes}}</span>) et dépenses(<span style="color:red">{{tot_depenses}}</span>) pour {{mois_en_cours}} {%if tot_recettes > tot_depenses%}<span class="glyphicon glyphicon-thumbs-up pull-right" style="color:green;font-size:larger;"></span>{%else%}<span class="glyphicon glyphicon-thumbs-down pull-right" style="color:red;font-size:larger;"></span>{%endif%}</div>
            <div class="panel-body">
                <div style="border-style:outset;">
                <label>Paiements recus  (pour mois en cours)</label>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Batiment</th>
                            <th>Date paiement</th>
                            <th>Etat</th>
                            <th>Loyer</th>
                            <th>Charges</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in suivis_recus %}
                        <tr class="{{s.etat_suivi}}">
                            <td>{{s.financement_location.contrat_location.batiment}}</td>
                            <td>{{s.date_paiement|date:"j/m/Y"}}</td>
                            <td>{{s.etat_suivi}}</td>
                            <td style="background-color:{%if s.loyer_percu == s.financement_location.loyer%}transparent{% else %}red{% endif %};">
                                {{s.loyer_percu}} ({{s.financement_location.loyer}})
                            </td>
                            {% if s.financement_location.charges > 0 %}
                                <td style="background-color:{%if s.charges_percu == s.financement_location.charges%}transparent{% else %}red{% endif %};">
                                    {{s.charges_percu}} ({{s.financement_location.charges}})
                                </td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                            <td>
                                <a href="{% url 'suivis-update-home' s.id %}?dated={{date_debut|date:" j/m/Y"}}&datef={{date_fin|date:"j/m/Y"}}&etat={{etat}}"
                                   title="Pour modifier un suivi"
                                   onclick="submit()">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
                <br>
                <div style="border-style:outset;">
                    <label>Loyer(s) impayé(s)  (pour mois en cours)</label>
                    <table class="table table-condensed">
                        <thead>
                            <th>Batiment</th>
                            <th>Date paiement</th>
                            <th>Etat</th>
                            <th>Loyer</th>
                            <th>Charges</th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for s in suivis_non_paye %}
                            <tr class="{{s.etat_suivi}}">
                                <td>{{s.financement_location.contrat_location.batiment}}</td>
                                <td>{{s.date_paiement|date:"j/m/Y"}}</td>
                                <td>{{s.get_etat_suivi_display}}</td>
                                <td style="background-color:{%if s.loyer_percu == s.financement_location.loyer%}transparent{% else %}red{% endif %};">
                                    {{s.loyer_percu}} ({{s.financement_location.loyer}})
                                </td>
                                {% if s.financement_location.charges > 0 %}
                                    <td style="background-color:{%if s.charges_percu == s.financement_location.charges%}transparent{% else %}red{% endif %};">
                                        {{s.charges_percu}} ({{s.financement_location.charges}})
                                    </td>
                                {% else %}
                                    <td>-</td>
                                {% endif %}
                                <td>
                                    <a href="{% url 'suivis-update-home' s.id %}?dated={{date_debut|date:" j/m/Y"}}&datef={{date_fin|date:"j/m/Y"}}&etat={{etat}}"
                                       title="Pour modifier un suivi"
                                       onclick="submit()">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br>
                {% include 'frais/frais_dashboard.html'  %}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        {% include 'batiment/mes_batiments_dashboard.html'  %}
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Administration (date alerte dans - ou + 1 mois et état 'à vérifier') </div>
            <div class="panel-body">
                {% include 'alerte/alert_list_sub.html' %}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        {% include 'locataire/mes_locataires_dashboard.html'  %}
    </div>
</div>
{% endblock %}
