{% extends "layout.html" %}
{% block breadcrumb %}
  <li><a href="{% url 'personne_list' %}">Personnes</a></li>
  <li class="active">Personne</li>
{% endblock %}
{% block content %}

  <form method="post" method="post" action="{% url 'personne-update' %}">
    {% csrf_token %}
    <input type="hidden" value="{{ personne.id }}" name="personne_id"/>
    <div class="row">
      <div class="col-md-6">
          <label for="nom">Nom</label>
          <input class="form-control" name="nom" value="{{ personne.nom| default_if_none:'' }}" >
      </div>
      <div class="col-md-6">
          <label for="prenom">Prenom</label>
          <input class="form-control" name="prenom" value="{{ personne.prenom| default_if_none:'' }}" >
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <label for="email">Email</label>
          <input class="form-control" name="email" value="{{ personne.email| default_if_none:'' }}" ><font style="color:red">{{ form.email.errors }}</font>
      </div>
      <div class="col-md-6">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <label for="gsm">Gsm</label>
          <input class="form-control" name="gsm" value="{{ personne.gsm| default_if_none:'' }}" >
      </div>
      <div class="col-md-6">
          <label for="telephone">Téléphone</label>
          <input class="form-control" name="telephone" value="{{ personne.telephone| default_if_none:'' }}" >
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
          <label for="profession">Profession</label>
          <input class="form-control" name="profession" value="{{ personne.profession| default_if_none:'' }}" >
      </div>
      <div class="col-md-6">
        <label for="num_identite">num identite</label>
        <input class="form-control" name="num_identite" value="{{ personne.num_identite| default_if_none:'' }}" ><font style="color:red">{{ form.num_identite.errors }}</font>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label for="date_naissance">Date naissance</label>
        <input class="form-control" name="date_naissance" value="{{ personne.date_naissance|date:"j/m/Y"| default_if_none:'' }}" ><font style="color:red">{{ form.date_naissance.errors }}</font>
      </div>
      <div class="col-md-4">
        <label for="lieu_naissance">Lieu naissance</label>
        <input class="form-control" name="lieu_naissance" value="{{ personne.lieu_naissance| default_if_none:'' }}" >
      </div>
      <div class="col-md-4">
        <label for="pays_naissance">Pays naissance</label>
        <input class="form-control" name="pays_naissance" value="{{ personne.pays_naissance| default_if_none:'' }}" >
      </div>
    </div>
    <div class="row">
      <div class="col-md-11">
      </div>
      <div class="col-md-1">
        <input type="submit" value="OK">
      </div>
    </div>

  </form>
{% endblock %}
