{% extends "layout.html" %}
{% block breadcrumb %}
  <li><a href="{% url 'listePersonnes' %}">Les personnes</a></li>
  <li class="active">Personne</li>
{% endblock %}
{% block content %}
<form action="/your-name/" method="post">
  <div class="form-group">
    <label for="nomInput">Nom</label>
    <input class="form-control" id="nomInput" placeholder="Nom" value="{{personne.nom}}">
  </div>
  <div class="form-group">
    <label for="emailInput">Email</label>
    <input type="email" class="form-control" id="emailInput" placeholder="Email" value="{{personne.email}}">
  </div>
    <input type="submit" value="OK">
</form>
        
{% endblock %}