{% extends "layout.html" %}
{% block breadcrumb %}
    <!--<li><a href="{% url 'listeProprietaires' %}">Les propriétaires</a></li>-->
    {% if proprietaire.batiment  %}<li><a href="{% url 'batiment' proprietaire.batiment.id %}">Batiment</a></li>{% endif %}
    <li class="active">Propriétaire</li>
{% endblock %}
{% block content %}
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#info_proprietaire">Info Propriétaire</a></li>
        {% if action != 'add' %}
            <li><a data-toggle="tab" id="lnk_personne_form" href="#info_contact"
                   class="{% if message %}not-active{% endif %}">
                Info contact
                </a>
            </li>
        {% endif %}
    </ul>

    <div class="tab-content">
        <br>
        <div id="info_proprietaire" class="tab-pane fade in active">
            <div id="ff">
                <form method="post" action="{% url 'proprietaire-update-save' %}" id="proprietaire_form">
                    <input type="text" id="previous" name="previous" value="{{ request.META.HTTP_REFERER }}"/>
                    <input type="hidden" id="action" name="action" value="{{ action }}"/>
                    <input type="hidden" id="id" name="id" value="{{ proprietaire.id }}"/>
                    <input type="text" id="prev" name="prev" value="{{ prev }}"/>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-5">
                            <label for="proprietaire">Propriétaire</label>
                            {% if proprietaire.id %}
                                <input class="form-control" type="text" value="{{ proprietaire.proprietaire }}"
                                       readonly="readonly"/>
                                <input class="form-control" type="hidden" value="{{ proprietaire.proprietaire.id }}"
                                       readonly="readonly" id="proprietaire" name="proprietaire"/>
                            {% else %}
                                <select id="proprietaire" name="proprietaire" class="form-control" >
                                    <option value="-">-</option>
                                    {% for p in personnes %}
                                        {% if p == proprietaire.proprietaire %}
                                            <option value="{{ p.id }}" selected>{{ p }}</option>
                                        {% else %}
                                            <option value="{{ p.id }}">{{ p }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            {% endif %}
                        </div>
                        <div class="col-md-5">
                            {% if action == 'add' %}
                                <br>
                                <input type="checkbox" id="btn_ajout_personne">
                                <label>Ajouter une nouvelle personne</label>
                            {% endif %}
                        </div>

                    </div>
                    {% if action == 'add' %}
                        <div style="visibility:hidden;display:none;margin:15px;background-color: #c0d4e8"
                             id="pnl_nouveau_personne">
                            <div class="row" style="margin:15px;">
                                <div class="col-md-3">
                                    <div id="pnl_nouveau_nom">
                                        <label>Nouvelle personne nom</label>
                                        <input class="form-control" type="text" value="" name="nouveau_nom" id="txt_nouveau_nom"/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div id="pnl_nouveau_prenom" >
                                        <label>Nouvelle personne prénom</label>
                                        <input class="form-control" type="text" value="" name="nouveau_prenom" id="txt_nouveau_prenom"/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div id="pnl_nouveau_prenom2" >
                                        <label >Nouvelle personne prénom2</label>
                                        <input class="form-control" type="text" value="" name="nouveau_prenom2" id="txt_nouveau_prenom2"/>
                                    </div>
                                </div>
                            </div>
                        <br>
                        </div>
                    {% endif %}
                    <br>

                    <div class="row">
                        <div class="col-md-12">
                            <label for="batiment_id">Batiment</label><br>
                            {{ proprietaire.batiment }}
                            <input type="hidden"
                                   id="batiment_id"
                                   name="batiment_id"
                                   value="{{ proprietaire.batiment.id }}"/>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-md-3">
                            <label>Date début</label>
                            <input class="form-control" type="text"
                                   value="{% if proprietaire.date_debut %}{{ proprietaire.date_debut|date:"j/m/Y" }}{% endif %}"
                                   id="proprietaire_date_debut" name="date_debut" />
                        </div>
                        <div class="col-md-3">
                            <label>Date fin</label>
                            <input class="form-control" type="text"
                                   value="{% if proprietaire.date_fin %}{{ proprietaire.date_fin|date:"j/m/Y" }}{% endif %}"
                                   id="proprietaire_date_fin" name="date_fin"/>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary pull-right"
                            title="Sauvegarder"><span class="glyphicon glyphicon-floppy-disk"
                                                      aria-hidden="true"> Enregistrer</span>

                    </button>
                </form>
            </div>
        </div>
        <div id="info_contact" class="tab-pane fade " >
            {% include 'personne/personne_sub_form.html' %}
        </div>
    </div>

    {% if message %}
        <br>
        <div class="alert alert-danger" role="alert" id="message" style="margin-top:20px;">
            {{ message }}
        </div>

    {% endif %}
    <!-- Ajout personne modal1 -->
    <div class="modal fade" id="ajoutPersonneModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="submissionScoresLabel">Ajout Personne</h4>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" action="{% url 'personne-create-proprietaire' %}">
                        {% csrf_token %}
                        <input type="hidden" value="{{ proprietaire.id }}" name="proprietaire_id_pers"/>

                        <div class="row">
                            <div class="col-md-6">
                                <label for="nom" class="control-label">Nom</label>
                                <input class="form-control" id="nom" placeholder="Nom" name="nom"
                                       style="text-transform:uppercase">
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="prenom" class="control-label">Prénom</label>
                                <input class="form-control" id="prenom" placeholder="Prenom" name="prenom"
                                       style="text-transform:uppercase">
                            </div>
                            <div class="col-md-6">
                            </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary pull-right" title="Sauvegarder">
                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"> Enregistrer</span>
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    {% include "societe/societe_create_personne.html" %}
    {% include "fonction/fonction_create_personne.html" %}
{% endblock %}



