{% extends "layout.html" %}
{% block breadcrumb %}
  <li><a href="{% url 'listeProprietaires' %}">Les propriétaires</a></li>
  <li class="active">Propriétaire</li>
{% endblock %}
{% block content %}
<div id="ff">

  <form method="post" action="{% url 'proprietaire-update-save' %}" id ="proprietaire_form">
    <input type="hidden" id="action" name="action" value="{{action}}"/>
    <input type="hidden" id="id" name="id" value="{{proprietaire.id}}"/>
    <input type="hidden" id="prev" name="prev" value="{{prev}}"/>

  {% csrf_token %}
  <div class="row">
    <div class="col-md-12">
      <label for="proprietaire">Propriétaire</label>
      {% if action == 'update'%}
      <input  class="form-control" type="text" value="{{ proprietaire.proprietaire }}" readonly="readonly" />
        <input  class="form-control" type="hidden" value="{{ proprietaire.proprietaire.id }}" readonly="readonly" id="proprietaire" name="proprietaire"/>
      {%endif%}
      {% if action == 'add'%}
        <select id="proprietaire" name="proprietaire"  class="form-control">
          {%for p in personnes%}
          {%if p = proprietaire.proprietaire %}
          <option value="{{p.id}}" selected="">{{p}}</option>
          {%else%}
            <option value="{{p.id}}" >{{p}}</option>
          {%endif%}
          {%endfor%}
        </select>
      {%endif%}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label for="batiment_id">Batiment</label><br>
      {{ proprietaire.batiment }}
      <input type="hidden" id="batiment_id" name="batiment_id" value="{{proprietaire.batiment.id}}"/>

    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <label for="date_debut">Date début</label>
      <input class="form-control" type="text" value="{%if proprietaire.date_debut%}{{ proprietaire.date_debut|date:"j/m/Y" }}{%endif%}" id="date_debut" name="date_debut"/>
    </div>
    <div class="col-md-4">
      <label for="date_fin">Date fin</label>
      <input class="form-control" type="date" value="{%if proprietaire.date_fin%}{{ proprietaire.date_fin|date:"j/m/Y" }}{% endif %}" id="date_fin" name="date_fin"/>
    </div>
    <div class="col-md-4">
    </div>
  </div>

  <div class="row">
    <div class="col-md-1">
  <input type="submit" value="OK">
</div>
<div class="col-md-10">
</div>
  <div class="col-md-1">


</div>
</div
  </form>
</div>
  {%if message%}
  <br>
    <div class="alert alert-danger" role="alert" id="message">{{message}}</div>

  {%endif%}

{% endblock %}
