<div class="panel panel-default">
    <div class="panel-heading">Mes affaires</div>
  <div class="panel-body">

<table class="table table-striped table-hover">
    <thead>
        <th>Rue</th>
        <th>Numéro</th>
        <th>Boite</th>
        <th>Localité</th>
        <th>Gains</th>
        <th>Dépenses</th>
    </thead>
{% for batiment in batiments %}
    <tr>
        <td>
          <a href="{% url 'batiment' batiment.pk%}" title="Pour modifier un batiment">{{ batiment.rue  | default_if_none:'' }}</a>
        </td>
        <td>
            {{ batiment.numero | default_if_none:'' }}

        </td>
        <td>
            {{ batiment.boite | default_if_none:'' }}

        </td>
        <td>
            {{ batiment.localite | default_if_none:'' }}
        </td>

        <td>
            {{ batiment.gains  | default_if_none:'' }}
        </td>
        <td>
            {{ batiment.depenses | default_if_none:''  }}
        </td>
      <td>

    </td>
    </tr>
{% endfor%}
</table>
</div>
</div>
